---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

  <div class="sharebar">
    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}&t={{ page.title }}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/assets/images/flat_web_icon_set/color/Facebook.png"></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=&text={{ page.title }} {{ site.url }}{{page.url}}" target="_blank" title="Tweet"><img alt="Tweet" src="/assets/images/flat_web_icon_set/color/Twitter.png"></a></li>
      <li><a href="https://plus.google.com/share?url={{ site.url }}{{page.url}}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/assets/images/flat_web_icon_set/color/Google+.png"></a></li>
      <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{page.url}}&title={{page.title}}&summary=&source={{page.title}}" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="/assets/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
      <li><a href="mailto:?subject={{page.title}}&body={{ site.url }}{{page.url}}" target="_blank" title="Send email"><img alt="Send email" src="/assets/images/flat_web_icon_set/color/Email.png"></a></li>
    </ul>
  </div>


{% include mailchimp.html %}

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}
